/* Write your CSS here */
.app-container {
  background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
  height: 100vh;
}
.app-store {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.head {
  font-size: 24px;
  color: #1e293b;
}
.input {
  width: 180px;
  height: 34px;
  border: 1px solid #7b8794;
  outline: none;
}
.search-icon {
  width: 34px;
  background-color: transparent;
}
